* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  :root {
    --color-text: #616161;
  }  
  
  body {
    
    font-family: "Roboto", sans-serif;
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;*/
    
  }
  header {
    background-image: url("../images/pantallas/header-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  }
  header .logo {
    width: 150px;
    
  }
  header .titulo__principal h1 {
    color: var(--color-text);
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px 3px 10px rgba(255,255,255,0.3);
    
  
  }
  
  .card-contenido {
   width: 100%;
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  }
  
  .card-img {
    height: 200px;
    width: 100%;
    border-radius: 120% 0% 100% 0%/0% 50% 50% 100%;
    display: grid;
    place-items: center;
    
  }
  
  
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  
  .card-content .precio {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
  }
  .card-titulo {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
  }
  
  .card-contenido-neto {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 0px;
  }
  
  .card-fragancias {
    text-align: center;
    font-size: 0.7rem;
    margin-bottom: 5px;
    
  }
  .card-fragancias .nombre-fragancia, .precio-fragancia  {
    font-size: 2rem;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
    margin:0;
  }
  
  .conjunto-img-fragancias{
    display: flex;
    list-style: none;
  }
  
  .card-btn-1 {
      border: none;
      font-weight: bold;
      border-radius: 106px;
      color: #616161;
      font-size: 12px;
      margin-top: 12px;
      margin-bottom: 12px;
      text-transform: uppercase;
      padding:10px ;
      width: 20%;
      box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 50%), inset 0px -3px 6px -2px rgb(0 0 0 / 30%);
  }
  
  .card-btn {
    width: 130px;
    height: 40px;
    margin-bottom: 26px;
    border-radius: 15px;
    padding: 0px 25px;
    font-weight: 500;
    
  }
    
  .volver-btn {
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 100px;
    padding: 5px 20px;
    color: #616161;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 8%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  }
  .alert{
    width: 40%;
  }
  
  .card-cantidad {
    text-align: center;
    border: none;
    border-radius: 100px;
    width: 40%;
    height: 40px;
  }
  
  .card-contenido .gradiente-rosa {
   box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -12px rgb(250 177 177);
  }
  
  .card-contenido .gradiente-celeste {
    box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -3px rgb(190, 247, 248);
  }
  
  .card-contenido .gradiente-verde {
    box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -3px rgb(190, 248, 207);
  }
  
  .card-contenido .gradiente-rojo {
    box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -24px rgb(250, 80, 80);
  }
  
  .card-contenido .gradiente-amarillo {
    box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -12px rgb(240, 235, 168);
  }
  
  .card-contenido .gradiente-marron {
    box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -24px rgb(68, 37, 27);
  }
  
  .card-contenido .gradiente-bordo {
    box-shadow: 0px 2px 2px 0px rgb(251 249 249), inset 0px -2px 43px -24px rgb(250, 80, 80);
  }

  .carrito{
      margin-top: 5px;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  }
  .titulo ,.carrito-productos{
    font-size: 0.8em;
    
  }
  .carrito-productos td{
    border-bottom: none;
  }
  #contenido-carrito{
    border-bottom: 1px solid #616161;;
  }
  .total{
    font-size:1rem;
    width:55%;
    background-color:rgba(202, 202, 202, 0.639);

  }
  .formulario{
    width: 95%;
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    font-size: 12px;
  }

  
  footer{
    background-image: url("../images/pantallas/footer.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius:0 0 25px 25px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
  }
  
 